:host {
  @apply tw-h-full tw-w-full tw-flex tw-bg-gray-300 tw-items-center tw-justify-center tw-bg-opacity-50;
}

.input-box {
  @apply tw-text-xs;

  input {
    @apply tw-h-10 tw-outline-none tw-border tw-rounded-xl tw-px-2 tw-mb-1 tw-w-full;
  }
}

/* TODO need move to global access (prefix g- use for global prefix)*/
.g-button
{
  @apply tw-text-center tw-w-full tw-rounded-xl tw-py-3 tw-outline-none;

  &[disabled] {
    @apply tw-cursor-not-allowed tw-text-gray-200;
  }
}

.g-error-message
{
  @apply tw-text-red-700 tw-pb-1;
}

