<!--<div class="">-->
  <form #formMainElement [formGroup]="mainForm" (ngSubmit)="submit($event)" class=" tw-bg-white tw-rounded-xl tw-max-w-sm tw-w-full tw-px-10 tw-py-4">
    <div class="tw-text-xs tw-text-center tw-text-black tw-font-medium tw-mb-2">Введите логин и пароль</div>
    <div class="input-box">
      <input placeholder="Login" type="text" formControlName="login" #loginElement>
      <div class="g-error-message" *formErrorFor="let text of errors; group: mainForm; name: 'login'; el: loginElement; ">
        {{text}}
      </div>
    </div>
    <div class="input-box">
      <input placeholder="Password" type="password" formControlName="password" #pswdElement>
      <div class="g-error-message" *formErrorFor="let text of errors; group: mainForm; name: 'password'; el: pswdElement; ">
        {{text}}
      </div>
    </div>
    <div class="submit-box">
      <button [disabled]="mainForm.invalid" class="g-button">
        Войти
      </button>
      <div class="g-error-message tw-text-center" *ngIf="showError">
        Ошибка. Введите верные данные.
      </div>
    </div>
  </form>

