<table *ngIf="users && users.length; else emptyTemplate;" mat-table [dataSource]="users" class="mat-elevation-z8 tw-w-full tw-h-full">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef  class="tw-w-8 tw-box-content"> No. </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname + ' ' + element.name}} </td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age" >
    <th mat-header-cell *matHeaderCellDef class="tw-w-10 tw-box-content"> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="tw-w-8 tw-box-content"> Action </th>
    <td mat-cell *matCellDef="let element">
      <i class="far fa-trash-alt tw-cursor-pointer tw-mr-2" (click)="delete(element)"></i>
      <i class="fas fa-pencil-alt tw-cursor-pointer" (click)="mutate(element)"></i>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #emptyTemplate>
  <div class="tw tw-p-10 tw-text-center tw-text-lg tw-font-light">Нет данных</div>
</ng-template>
