/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind utilities;

/* import angular material theme */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* import global style */
@import "@global-style/common.style";

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
