<form #formMainElement [formGroup]="mainForm" (ngSubmit)="submit($event)" class=" tw-bg-white tw-rounded-xl tw-max-w-sm tw-w-full tw-px-10 tw-py-4">
  <div class="tw-text-xs tw-text-center tw-text-black tw-font-medium tw-mb-2">Заполните форму</div>
  <div class="input-box">
    <input placeholder="Name" type="text" formControlName="name" #nameElement>
    <div class="g-error-message" *formErrorFor="let text of errors; group: mainForm; name: 'name'; el: nameElement; ">
      {{text}}
    </div>
  </div>
  <div class="input-box">
    <input placeholder="Lastname" type="text" formControlName="lastname" #lastnameElement>
    <div class="g-error-message" *formErrorFor="let text of errors; group: mainForm; name: 'lastname'; el: lastnameElement; ">
      {{text}}
    </div>
  </div>
  <div class="input-box">
    <input placeholder="Age" type="number" formControlName="age" #lastnameElement>
    <div class="g-error-message" *formErrorFor="let text of errors; group: mainForm; name: 'age'; el: lastnameElement; ">
      {{text}}
    </div>
  </div>
  <div class="submit-box">
    <button [disabled]="mainForm.invalid" class="g-button">
      {{currentId ? 'Изменить' : 'Создать'}}
    </button>
  </div>
</form>

