<mat-toolbar class="example-header tw-h-10 tw-px-4 tw-w-full tw-flex tw-justify-between">
  <div class="logo-block tw-h-full tw-py-1">
    <img *ngIf="authService.state$ | async" class="logo tw-max-h-full tw-rounded-full" src="https://i.pravatar.cc/300">
  </div>
  <div class="">
    <div [ngSwitch]="authService.state$ | async">
      <span *ngSwitchCase="false" class="tw-cursor-pointer tw-text-base" (click)="signIn()">Войти</span>
      <span *ngSwitchCase="true" class="tw-cursor-pointer tw-text-base" (click)="signOut()">Выйти</span>
      <i class="fas fa-plus-square tw-cursor-pointer tw-ml-2" (click)="tableItemModalService.openModalWindow()"></i>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <mat-tree *ngIf="authService.state$ | async" [dataSource]="dataSource" [treeControl]="treeControl" class="tw-px-4">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node class="tw-cursor-pointer" (click)="openPage(node)" *matTreeNodeDef="let node;" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button></button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node class="tw-cursor-pointer" *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
        <span class="tw-cursor-pointer tw-pr-1">
          <ng-container *ngIf="treeControl.isExpanded(node); else downTemplate">
            <i class="fas fa-chevron-down"></i>
          </ng-container >
          <ng-template #downTemplate>
            <i class="fas fa-chevron-right"></i>
          </ng-template>
        </span>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>

  <mat-sidenav-content>
    <test-workspace-lk-table *ngIf="authService.state$| async"></test-workspace-lk-table>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<mat-toolbar class="example-footer">Footer</mat-toolbar>-->
